#pro {
  color: #29a72e;
  list-style-type: georgian;
}

#con {
  color: #9a3535;
}

#current {
  background-color: #828282;
}

#info {
  position: relative;
  width: 75vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.nav_bar {
  margin: 0 auto;
  width: auto;
  height: 50px;
  position: relative;
  text-align: center;
}

.nav_bar li
{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #c5c5c5;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: background-color .5s;
}

.nav_bar li:hover {
  background-color: #828282;
}

.tf {
  display: block;
  position: relative;
  left: 20vw;
  top: 30px;
}
.tf ul{
  display: inline-block;
}
.tf li{
  list-style-type: none;
  float: left;
  clear: left;
  padding: 5px;
  margin: 10px;
}

.qs li{
  font-size: 23px;
  margin-top: 30px;
  padding: 10px;
}

.button {
  font-size: 20px;
  border: none;
  decoration: none;
  background-color: #e8e8e8;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
}
